@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width:100%;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
p{
    line-height:1.5rem;
    text-align:justify;
}
a{
    text-decoration:none;
    background:linear-gradient(rgb(252, 71, 71),rgba(248, 146, 146, 0.945));
    padding:10px 30px;
    color:#fff;
    font-size:20px;
    border-radius:5px;
    text-transform:uppercase;
}
.profile{
    display:flex;
    padding-top:50px;
    background-image:url('images/top-banner.png');
    background-repeat:no-repeat;
}
.half-width{
    width:50%;
    padding-left:5%;
    padding-right:5%;
}
.profile .half-width .profile-name{
    color:coral;
}
.dream-big{
    display:flex;
    padding-top:50px;
    background-image:url('images/dream-bg.png');
    background-repeat:no-repeat;
    background-position:right;
}
.experience{
    padding-top:50px;
    padding-bottom:50px;
}
.experience h1{
    text-align:center;
}
.experience-col{
    display:flex;
}
.experience .single-exp{
    width:50%;
    padding-left:5%;
    padding-right:5%;
}
.single-exp-bg{
    border-left:5px solid orangered;
    background-color:aliceblue;
    padding:10px;
    box-sizing: border-box;
    height:300px;
    box-shadow:1px 3px 5px #000;
}
.single-exp-bg-green{
    border-left:5px solid rgb(5, 69, 73);
}